.wrapper {
  color: var(--color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: var(--width);
}

.content {
  width: var(--text-width);
}

@media (max-width: 850px) {
  .wrapper {
    padding: var(--mobile-padding);
  }
}
