.wrapper {
  display: flex;
  justify-content: center;
  color: var(--color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.content {
  width: var(--width);
}

@media (max-width: 550px) {
  .wrapper {
    padding: var(--mobile-padding);
  }
}
