.wrapper {
  border: none;
  overflow: hidden;
  outline-offset: var(--outline-offset);
  background: transparent;
  color: var(--color);
  overflow: visible;
}

.wrapper svg {
  transition: transform 600ms;
}

.wrapper:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .wrapper:hover svg,
  .wrapper:focus svg {
    transform: scale(1.2);
    transition: transform 200ms;
  }
}
