.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(90%, 500px);
  grid-area: nav;
}

.pagebutton,
.current,
.deactivated {
  color: var(--color);
  flex: 1;
  border: none;
  background: none;
  font-size: 1.3rem;
  padding: 0.6rem;
  transition: transform 300ms;
  height: 48px;
  width: 48px;
}

.current {
  transform: scale(1.8);
  transition: transform 200ms;
}

.pagebutton:hover {
  opacity: 0.5;
}

.deactivated {
  color: hsl(0deg 0% 50%);
  pointer-events: none;
}
