.wrapper {
  font-family: var(--raleway);
  color: var(--color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background: var(--background-wrapper);
  min-height: 100%;
}

@media (max-width: 900px) {
  .wrapper {
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
  }
}
