.wrapper {
  font-family: var(--raleway);
  color: var(--color);
  display: grid;
  grid-template-areas:
    "header"
    "content";
  background: var(--background-wrapper);
  gap: 2rem;
  isolation: isolate;
  min-height: 100%;
}

@media (max-width: 550px) {
  .wrapper {
    gap: 1rem;
  }
}
