.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--hero-background);
}

.hero {
  padding: 10rem 0rem;
  width: var(--width);
}

.glow {
  width: 100%;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  position: absolute;
  inset: 0;
  filter: blur(var(--border-blur));
}

.title {
  font-family: var(--recursive);
  font-size: 2.5rem;
  font-variation-settings: "CASL" 0.9, "MONO" 0.2;
  font-weight: 900;
  line-height: 1.2;
}

.date {
  font-family: var(--recursive);
  font-style: italic;
  font-weight: 100;
}

@media (max-width: 900px) {
  .hero {
    border-radius: 0px;
    padding: 7rem 0rem;
  }

  .wrapper {
    padding-left: var(--tablet-padding);
    width: calc(100% + 2 * var(--tablet-padding));
  }
}

@media (max-width: 550px) {
  .hero {
    padding: 5rem 0rem;
  }

  .wrapper {
    padding-left: var(--mobile-padding);
    width: calc(100% + 2 * var(--mobile-padding));
  }

  .glow {
    border-radius: 0px;
  }
}
