.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  --background-color: linear-gradient(
    to top,
    hsl(178.87, 84.13%, 62.94%) 0%,
    hsl(179.11, 83.37%, 62.9%) 8.1%,
    hsl(179.82, 81.23%, 62.78%) 15.5%,
    hsl(180.97, 80.24%, 63.05%) 22.5%,
    hsl(182.55, 79.54%, 63.51%) 29%,
    hsl(184.53, 78.7%, 64.02%) 35.3%,
    hsl(186.89, 77.76%, 64.56%) 41.2%,
    hsl(189.6, 76.75%, 65.12%) 47.1%,
    hsl(192.6, 75.7%, 65.66%) 52.9%,
    hsl(195.82, 74.65%, 66.16%) 58.8%,
    hsl(199.12, 73.64%, 66.63%) 64.7%,
    hsl(202.36, 72.72%, 67.03%) 71%,
    hsl(205.32, 71.92%, 67.37%) 77.5%,
    hsl(207.76, 71.29%, 67.62%) 84.5%,
    hsl(209.4, 70.88%, 67.79%) 91.9%,
    hsl(210, 70.73%, 67.84%) 100%
  );
}

.hero {
  width: min(100%, 800px);
  padding: 1rem 4rem 1.8rem 0.5rem;
  position: relative;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.glow {
  width: min(100%, 800px);
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  position: absolute;
  inset: 0;
  filter: blur(var(--border-blur));
}

.title {
  font-family: var(--recursive);
  font-size: 2.5rem;
  font-variation-settings: "CASL" 0.9, "MONO" 0.2;
  font-weight: 900;
  line-height: 1.2;
}

.date {
  font-family: var(--recursive);
  font-style: italic;
  font-weight: 100;
}

@media (max-width: 600px) {
  .hero {
    border-radius: 0px;
  }
  .glow {
    border-radius: 0px;
  }
}
