.mobileButton,
.closeButton {
  background: transparent;
  border: none;
  color: var(--color);
}

.closeButton {
  position: absolute;
  top: var(--tablet-padding);
  right: var(--tablet-padding);
  animation: spinin 300ms forwards alternate ease-out;
  animation-delay: 300ms;
}

.overlay {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  inset: 0;
  background-color: hsl(0deg 100% 0%);
  animation: fadein 500ms forwards alternate ease-out;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 3rem;
  gap: 2rem;
  width: 70%;
  background-color: var(--background-wrapper);
  transform: translateX(100%);
  animation: slidein 500ms forwards alternate ease-out;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes spinin {
  from {
    scale: 0;
    transform: rotate(0deg);
  }
  to {
    scale: 1;
    transform: rotate(180deg);
  }
}

@keyframes fadein {
  from {
    background-color: hsl(0deg 100% 0%/0);
  }
  to {
    background-color: hsl(0deg 100% 0%/0.5);
  }
}

@media (max-width: 550px) {
  .closeButton {
    top: var(--mobile-padding);
    right: var(--mobile-padding);
  }
}
