.headernav {
  display: flex;
  justify-content: center;
  background: var(--background-wrapper);
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navWrapper {
  display: flex;
  align-items: center;
  width: var(--width);
}

.navlink {
  text-decoration: none;
  font-size: 1.2rem;
  outline-offset: 4px;
  position: relative;
}

.buttonWrapper,
.mobileWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.mobileWrapper {
  display: none;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: none;
  transition: transform 600ms;
  @media (max-width: 550px) {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.mobileLink {
  width: fit-content;
  outline-offset: var(--outline-offset);
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
}

.logo {
  display: block;
  max-width: fit-content;
  font-family: var(--recursive);
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-variation-settings: "MONO" 0.47, "wght" 723;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .iconWrapper:hover,
  .iconWrapper:focus {
    transform: scale(1.2);
    transition: transform 200ms;
  }
}

@media (max-width: 900px) {
  .buttonWrapper {
    display: none;
  }
  .mobileWrapper {
    display: flex;
  }
  .headernav {
    padding: 1rem var(--tablet-padding);
    margin-left: calc(var(--tablet-padding) * -1);
    margin-right: calc(var(--tablet-padding) * -1);
  }
}

@media (max-width: 550px) {
  .headernav {
    padding: 1rem var(--mobile-padding);
    margin-left: calc(var(--mobile-padding) * -1);
    margin-right: calc(var(--mobile-padding) * -1);
  }
}
