.headerNav {
  display: flex;
  justify-content: center;
  background: var(--background-wrapper);
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navWrapper {
  display: flex;
  align-items: center;
  width: var(--width);
}

.desktopWrapper,
.mobileWrapper,
.tabletWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.desktopWrapper {
  gap: 2rem;
}

.mobileWrapper {
  display: none;
  gap: 1rem;
}

.tabletWrapper {
  display: none;
  gap: 2rem;
}

.logo {
  display: block;
  max-width: fit-content;
  font-family: var(--recursive);
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-variation-settings: "MONO" 0.47, "wght" 723;
}

@media (prefers-reduced-motion: no-preference) {
  .iconWrapper:hover,
  .iconWrapper:focus {
    transform: scale(1.2);
    transition: transform 200ms;
  }
}

@media (max-width: 900px) {
  .desktopWrapper {
    display: none;
  }
  .tabletWrapper {
    display: flex;
  }
  .headerNav {
    padding: 1rem var(--tablet-padding);
    margin-left: calc(var(--tablet-padding) * -1);
    margin-right: calc(var(--tablet-padding) * -1);
  }
}

@media (max-width: 550px) {
  .tabletWrapper {
    display: none;
  }
  .mobileWrapper {
    display: flex;
  }
  .headerNav {
    padding: 1rem var(--mobile-padding);
    margin-left: calc(var(--mobile-padding) * -1);
    margin-right: calc(var(--mobile-padding) * -1);
  }
}
